* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h3 {
    /* margin-top: 0.5em;
    margin-bottom: 0.5em; */
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: lightcyan;
}

#calendar-outline {
    height: 95%;
    width: 95%;
    border: solid 3px black;
    background-color:oldlace;
}

.add-event-window {
    display: block;
    z-index: 100;
    border: solid 1px black;
    width: 90%;
    background-color: lightcyan;
    padding: 0.4em;
    margin: 0.4em auto;
}

.add-event-window-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: hidden; */
    width: 100%;
}

#input-event-name {
    outline: none;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#input-event-info {
    width: 100%;
    outline: none;
    resize: none;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.add-event-window-button {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: solid 2px lightseagreen;
}

#calendar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
}

#day-name-row {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px lightseagreen;
}

.calendar-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.day {
    display: flex;
    flex-direction: column;
    border-bottom: solid lightseagreen 1px;
    width: 100%;
    /* height: 100%; */
}

.day-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2em;
    background-color: rgb(226, 211, 182);
}

.day-label:hover {
    background-color: rgb(189, 172, 136);
}

.day-events {
    background-color: lightcyan;
}

.day-events:hover {
    background-color:lightcyan;
}

.event-ul {
    list-style: none;
}

.event-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    border-bottom: solid 2px lightpink;
}

.event-li:last-child {
    border-bottom: none;
}

.event-li:hover {
    background-color: lightpink;
}

#delete-icon {
    cursor: pointer;
}

#delete-icon:hover {
    background-color:white;
}